<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <link href="../../bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../bootstrap/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="../../bootstrap/css/style.min.css" rel="stylesheet">
</head>

<body>
<div class="container-fluid p-t-15">
    <div class="row">

        <div class="col-lg-12">
            <div class="card">
                <header class="card-header">
                    <div class="card-title">How to enable KEY and SECRET for the caller?</div>
                </header>

                <div class="card-body">
                    <p>1. Add caller, enter caller ID, caller docking person, remarks and other information;</p>
                    <p>2. Interfaces that can be called by authorized callers;</p>
                    <p>3. For details, set the caller’s <code>KEY</code>、<code>SECRET</code> sent to the caller;</p>
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="card">
                <header class="card-header">
                    <div class="card-title">How the caller passes the token？</div>
                </header>

                <div class="card-body">
                    <p>The signature information is stored based on the two parameters <code>Authorization</code> and <code>Authorization-Date</code> in the HTTP Header. </p>
                    <p>1. Authorization stores signature information, format: caller KEY + space separator + abstract (encrypted string), for example:</p>
                    <pre>Authorization:blog MjJjMDE1MWFkZjMwOWFmYjFlNzViNDFjYjYwMWFlMmM=</pre>
                    <p>2. Authorization-Date stores time information, format: 0000-00-00 00:00:00, use <code>Asia/Shanghai</code> time zone, for example;</p>
                    <pre>Authorization-Date:2021-04-03 21:12:36</pre>
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="card">
                <header class="card-header"><div class="card-title">Methods of generating signatures in different languages for reference</div></header>
                <div class="card-body">

                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#go" aria-selected="true">Go Language</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#php" aria-selected="false">PHP Language</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#js" aria-selected="false">JS Language</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane fade active show" id="go">
                            <pre>
func New(key, secret string, ttl time.Duration) Signature {
	return &signature{
		key:    key,
		secret: secret,
		ttl:    ttl,
	}
}

// Generate
// path the requested path (without querystring)
func (s *signature) Generate(path string, method string, params url.Values) (authorization, date string, err error) {
	if path == "" {
		err = errors.New("path required")
		return
	}

	if method == "" {
		err = errors.New("method required")
		return
	}

	methodName := strings.ToUpper(method)
	if !methods[methodName] {
		err = errors.New("method param error")
		return
	}

	// Date
	date = time_parse.CSTLayoutString()

	// Encode() comes in the method sorted by key
	sortParamsEncode, err := url.QueryUnescape(params.Encode())
	if err != nil {
		err = errors.Errorf("url QueryUnescape %v", err)
		return
	}

	// Encrypted string rules
	buffer := bytes.NewBuffer(nil)
	buffer.WriteString(path)
	buffer.WriteString(delimiter)
	buffer.WriteString(methodName)
	buffer.WriteString(delimiter)
	buffer.WriteString(sortParamsEncode)
	buffer.WriteString(delimiter)
	buffer.WriteString(date)

	// Perform sha256 encryption on the data and base64 encode
	hash := hmac.New(sha256.New, []byte(s.secret))
	hash.Write(buffer.Bytes())
	digest := base64.StdEncoding.EncodeToString(hash.Sum(nil))

	authorization = fmt.Sprintf("%s %s", s.key, digest)
	return
}

// Simulation data
const (
	key    = "blog"
	secret = "i1ydX9RtHyuJTrw7frcu"
	ttl    = time.Minute * 10
)

func TestSignature_Generate(t *testing.T) {
	path := "/echo"
	method := "POST"

	params := url.Values{}
	params.Add("a", "a1")
	params.Add("d", "d1")
	params.Add("c", "c1 c2*")

	authorization, date, err := New(key, secret, ttl).Generate(path, method, params)
	t.Log("authorization:", authorization)
	t.Log("authorization-date:", date)
	t.Log("err:", err)
}
                            </pre>
                        </div>
                        <div class="tab-pane fade" id="php">
                            <pre>
// Simulation data
$key    = "blog";
$secret = "i1ydX9RtHyuJTrw7frcu";

$path = "/echo";
$method = "POST";

$params['a'] = "a1";
$params['d'] = "d1";
$params['c'] = "c1 c2*";

// Sort the params key
ksort($params);

// Operate on sortParams
$sortParamsEncode = rawurldecode(http_build_query($params, "", "&", PHP_QUERY_RFC3986));

// Time uses Asia/Ho_Chi_Minh time zone
$date = date("Y-m-d H:i:s", time());

// Encrypted string rules
$encryptStr = $path."|".strtoupper($method)."|".$sortParamsEncode."|".$date;

// Perform sha256 encryption on the data and base64 encode
$digest = base64_encode(hash_hmac("sha256", $encryptStr, $secret, true));

$authorization = $key." ".$digest;

echo "authorization:{$authorization}";
echo "---";
echo "authorization-date:{$date}";
                            </pre>
                        </div>
                        <div class="tab-pane fade" id="js">
                            <pre>
let key = "blog";
let secret = "i1ydX9RtHyuJTrw7frcu";

let date = new Date();
let datetime = date.getFullYear() + "-" // "Year"
    + ((date.getMonth() + 1) > 10 ? (date.getMonth() + 1) : "0" + (date.getMonth() + 1)) + "-" // "Month"
    + (date.getDate() < 10 ? "0" + date.getDate() : date.getDate()) + " " // "Day"
    + (date.getHours() < 10 ? "0" + date.getHours() : date.getHours()) + ":" // "Hours"
    + (date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes()) + ":" // "Minutes"
    + (date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds()); // "Seconds"

let path = "/echo";
let method = "POST";
let params = {a:'a1', d:'d1', c: 'c1 c2*'};

let sortParamsEncode = decodeURIComponent(jQuery.param(ksort(params)));
let encryptStr = path + "|" + method.toUpperCase() + "|" + sortParamsEncode + "|" + datetime;
let digest = CryptoJS.enc.Base64.stringify(CryptoJS.HmacSHA256(encryptStr, secret));
console.log({authorization: key + " " + digest, date: datetime});
                            </pre>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="../../bootstrap/js/jquery.min.js"></script>
<script type="text/javascript" src="../../bootstrap/js/popper.min.js"></script>
<script type="text/javascript" src="../../bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../bootstrap/js/main.min.js"></script>
</body>
</html>
