<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <link href="../../bootstrap/js/jquery-confirm/jquery-confirm.min.css" rel="stylesheet">
    <link href="../../bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../bootstrap/js/bootstrap-multitabs/multitabs.min.css" rel="stylesheet" type="text/css">
    <link href="../../bootstrap/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="../../bootstrap/css/style.min.css" rel="stylesheet">
</head>

<body>
<div class="container-fluid p-t-15">
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">Interface authorization</div>
                </div>
                <div class="card-body">

                    <div class="alert alert-warning" role="alert">
                        The interface address supports wildcards (*), where * means level 1 and ** means level n.
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="request_method">Choose request method</label>
                        </div>
                        <select class="custom-select" id="request_method">
                            <option value="GET">GET</option>
                            <option value="POST">POST</option>
                            <option value="PUT">PUT</option>
                            <option value="DELETE">DELETE</option>
                            <option value="PATCH">PATCH</option>
                        </select>
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">Enter the interface address</span>
                        </div>
                        <input type="text" class="form-control" maxlength="60" id="request_api"
                               placeholder="Interface address">
                    </div>

                    <button type="button" id="btnOk" class="btn btn-primary">Confirm</button>
                    <button type="button" id="btnLoading" class="btn btn-primary" disabled style="display: none">
                        <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                            Executing...
                    </button>

                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="card">
                <header class="card-header">
                    <div class="card-title">Authorized interface</div>
                </header>
                <div class="card-body apis">

                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="../../bootstrap/js/jquery.min.js"></script>
<script type="text/javascript" src="../../bootstrap/js/popper.min.js"></script>
<script type="text/javascript" src="../../bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../bootstrap/js/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
<script type="text/javascript" src="../../bootstrap/js/jquery-confirm/jquery-confirm.min.js"></script>
<script type="text/javascript" src="../../bootstrap/js/bootstrap-multitabs/multitabs.min.js"></script>
<script type="text/javascript" src="../../bootstrap/js/httpclient/httpclient.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        const hash_id = {{ .HashID }}

            $("input#request_api").maxlength({
                warningClass: "badge badge-info",
                limitReachedClass: "badge badge-warning"
            });

        // Load list page data
        getListData();

        function getListData() {
            AjaxForm(
                "GET",
                "/api/authorized_api",
                {id: hash_id},
                function () {
                    
                },
                function (data) {
                    if (data.list.length > 0) {
                        var badgeMethodClass = "";

                        $.each(data.list, function (index, value) {
                            if (value.method === "GET") {
                                badgeMethodClass = "badge-primary";
                            } else if (value.method === "POST") {
                                badgeMethodClass = "badge-success";
                            } else if (value.method === "DELETE") {
                                badgeMethodClass = "badge-danger";
                            } else if (value.method === "PUT") {
                                badgeMethodClass = "badge-yellow";
                            } else if (value.method === "PATCH") {
                                badgeMethodClass = "badge-cyan";
                            } else {
                                badgeMethodClass = "badge-dark";
                            }

                            const p = '<p>\n' +
                                '<a href="#!" data-id="' + value.hash_id + '" data-api="' + value.api + '" class="del">' +
                                '<span class="badge badge-dark"><i class="mdi mdi-window-close"></i></span>\n' +
                                '</a>\n' +
                                '<span class="badge ' + badgeMethodClass + '">' + value.method + '</span>\n' + value.api
                            ;

                            $(".apis").append(p);
                        })
                    } else {
                        // Data is empty
                        const p = '<p>No authorized interface</p>';
                        $(".apis").append(p);
                    }
                },
                function (response) {
                    AjaxError(response);
                }
                
            );
        }

        $('#btnOk').on('click', function () {
            const requestMethod = $("#request_method").val();
            const requestApi = $("#request_api").val();
            if (requestMethod === "") {
                $.alert({
                    title:'Warm reminder',
                    icon:'mdi mdi-alert',
                    type:'orange',
                    content:'Please select the request method.',
                });
                return false;
            }

            if (requestApi === "") {
                $.alert({
                    title:'Warm reminder',
                    icon:'mdi mdi-alert',
                    type:'orange',
                    content:'Please enter the request address.',
                });
                return false;
            }

            const postData = {
                method: requestMethod,
                api: requestApi,
                id: hash_id,
            };

            AjaxForm(
                "POST",
                "/api/authorized_api",
                postData,
                function () {
                    $(this).hide();
                    $("#btnLoading").show();
                },
                function () {
                    $("#btnLoading").hide();
                    $("#btnOk").show();

                    $.alert({
                        title: 'Successful operation',
                        icon: 'mdi mdi-check-decagram',
                        type: 'green',
                        content: 'Interface:' + requestApi + 'Authorization is complete.',
                        buttons: {
                            okay: {
                                text: 'Close',
                                action: function () {
                                    location.reload();
                                }
                            }
                        }
                    });
                },
                function (response) {
                    $("#btnLoading").hide();
                    $("#btnOk").show();

                    AjaxError(response);
                }
            );
        });

        $(document).on('click', '.del', function () {
            const id = $(this).attr('data-id');
            const api = $(this).attr('data-api');

            $.confirm({
                title: 'Proceed with caution',
                content: 'Are you sure you want to <strong style="color: red">cancel authorization</strong>?',
                icon: 'mdi mdi-alert',
                animation: 'scale',
                closeAnimation: 'zoom',
                buttons: {
                    okay: {
                        text: 'Confirm',
                        keys: ['enter'],
                        btnClass: 'btn-orange',
                        action: function () {
                            AjaxForm(
                                "DELETE",
                                '/api/authorized_api/' + id,
                                "",
                                function () {

                                },
                                function () {
                                    $.alert({
                                        title: 'Successful operation',
                                        icon: 'mdi mdi-check-decagram',
                                        type: 'green',
                                        content: 'Interface:' + api +'Authorization has been cancelled.',
                                        buttons: {
                                            okay: {
                                                text: 'Close',
                                                action: function () {
                                                    location.reload();
                                                }
                                            }
                                        }
                                    });
                                },
                                function (response) {
                                    AjaxError(response);
                                }
                            );
                        }
                    },
                    cancel: {
                        text: 'Cancel',
                        keys: ['ctrl', 'shift'],
                    }
                }
            });
        })
    })
</script>
</body>
</html>
