<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <link href="../../bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../bootstrap/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="../../bootstrap/js/jquery-confirm/jquery-confirm.min.css" rel="stylesheet">
    <link href="../../bootstrap/css/style.min.css" rel="stylesheet">
</head>

<body>
<div class="container-fluid p-t-15">
    <div class="row">

        <div class="col-lg-12">
            <div class="card">
                <div class="card-toolbar d-flex flex-column flex-md-row">
                    <div class="toolbar-btn-action">
                        <a class="btn btn-primary m-r-5" href="/authorized/add"><i class="mdi mdi-plus"></i> Add</a>
                    </div>
                </div>

                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>Number</th>
                                <th>Caller</th>
                                <th>Caller devloper</th>
                                <th>Created date</th>
                                <th>Updated date</th>
                                <th style="text-align: center; ">Status</th>
                                <th style="text-align: center; ">Operation</th>
                            </tr>
                            </thead>
                            <tbody class="tbody">

                            </tbody>
                        </table>
                    </div>
                    <ul class="pagination">
                        <ul class="pagination" id="paginationDiv">

                        </ul>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>
<script type="text/javascript" src="../../bootstrap/js/jquery.min.js"></script>
<script type="text/javascript" src="../../bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../bootstrap/js/jquery-confirm/jquery-confirm.min.js"></script>
<script type="text/javascript" src="../../bootstrap/js/httpclient/httpclient.js"></script>
<script type="text/javascript" src="../../bootstrap/js/jquery.pagination.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        // Load list page data
        getPageListData();

        function getPageListData(page = 0, page_size = 0) {

            if (parseInt(page) < 1) {
                page = 1;
            }

            if (parseInt(page_size) < 1) {
                page_size = 10;
            }

            AjaxForm(
                "GET",
                "/api/authorized",
                {page: page, page_size: page_size},
                function () {},
                function (data) {
                    if (data.list.length > 0) {
                        var totalNum = data.pagination.total; // Total number
                        var pageNum = Math.ceil(totalNum / data.pagination.pre_page_count); // Total number of pages pagination

                        $("#paginationDiv").pagination({
                            current: data.pagination.current_page,
                            pageCount: pageNum,
                            coping: true,
                            homePage: 'Home page',
                            endPage: 'Last page',
                            mode: 'fixed',
                            prevContent: 'Previous page',
                            nextContent: 'Next page',
                            activeCls: 'pageActive',
                            prevCls: 'pagePrev',
                            nextCls: 'pageNext',
                            callback: function (api) {
                                $(".tbody").html("");
                                getPageListData(api.getCurrent());
                            }
                        });

                        $.each(data.list, function (index, value) {
                            var showUsedBadge = "";
                            var optionUsedName = "";

                            if (value.is_used === 1) {
                                optionUsedName = 'Disable';
                                showUsedBadge = '<span class="badge badge-success">Enable</span></td>'
                            }

                            if (value.is_used === -1) {
                                optionUsedName = 'Enable';
                                showUsedBadge = '<span class="badge badge-danger">Disable</span></td>'
                            }

                            const tr = '<tr>\n' +
                                '<td>' + value.id + '</td>\n' +
                                '<td>' + value.business_key + '</td>\n' +
                                '<td>' + value.business_developer + '</td>\n' +
                                '<td>' + value.created_at + '</td>\n' +
                                '<td>' + value.updated_at + '</td>\n' +
                                '<td style="text-align: center; ">' + showUsedBadge + '</td>\n' +
                                '<td style="text-align: center; ">\n' +
                                '<div class="btn-group">\n' +
                                '    <a class="btn btn-xs btn-default btn-detail" href="#!" title=""\n' +
                                '                                           data-business-key="' + value.business_key + '"' +
                                '                                           data-business-secret="' + value.business_secret + '"' +
                                '                                           data-remark="' + value.remark + '"' +
                                '                                           data-toggle="tooltip" data-original-title="Details">Details</a>\n' +
                                '    <a class="btn btn-xs btn-default btn-option" href="#!" title=""\n' +
                                '                                           data-id="' + value.hashid + '"' +
                                '                                           data-is-used="' + value.is_used + '"' +
                                '                                           data-toggle="tooltip" data-original-title="' + optionUsedName + '">' + optionUsedName + '</a>\n' +
                                '    <a class="btn btn-xs btn-default" href="/authorized/api/'+value.hashid+'" title=""\n' +
                                '                                           data-toggle="tooltip" data-original-title="interface">interface</a>\n' +
                                '    <a class="btn btn-xs btn-default btn-confirm" href="#!" title=""\n' +
                                '                                           data-id="' + value.hashid + '"' +
                                '                                           data-toggle="tooltip" data-original-title="delete">Delete</a>\n' +
                                '</div>\n' +
                                '</td>\n' +
                                '</tr>';

                            $(".tbody").append(tr);
                        })
                    } else {
                        // Data is empty
                        const tr = '<tr><td colspan="7" style="text-align: center">No data</td></tr>';
                        $(".tbody").append(tr);
                    }
                },
                function (response) {
                    AjaxError(response);
                }

            );
        }

        // Details
        $(document).on('click', '.btn-detail', function () {
            const business_key = $(this).attr('data-business-key');
            const business_secret = $(this).attr('data-business-secret');
            const business_remark = $(this).attr('data-remark');

            $.alert({
                title: 'Details',
                content: 'Caller KEY:' + business_key +'<br/>Caller SECRET:' + business_secret +'<br/>Remarks:' + business_remark,
                type: 'green',
                animation: 'scale',
                draggable: true,
            });
        });

        // Enable/Disable
        $(document).on('click', '.btn-option', function () {
            const id = $(this).attr('data-id');
            const isUsed = $(this).attr('data-is-used');

            var tipMessage = "";
            var wantUsed = 0;
            if (isUsed === "1") { // 1=Currently enabled, need to be changed to disabled
                tipMessage = "Disable";
                wantUsed = -1;
            }
            if (isUsed === "-1") { // -1=Currently disabled, need to be changed to enable
                tipMessage = "Enable";
                wantUsed = 1;
            }

            const patchData = {
                id: id,
                used: wantUsed,
            };

            $.confirm({
                title:'Operate with caution',
                content:'Are you sure you want to <strong style="color: red">' + tipMessage +'</strong>?',
                icon: 'mdi mdi-alert',
                animation: 'scale',
                closeAnimation: 'zoom',
                buttons: {
                    okay: {
                        text: 'Confirm',
                        keys: ['enter'],
                        btnClass: 'btn-orange',
                        action: function () {
                            AjaxForm(
                                "PATCH",
                                "/api/authorized/used",
                                patchData,
                                function () {},
                                function (data) {
                                    $.alert({
                                        title: 'Successful operation',
                                        icon: 'mdi mdi-check-decagram',
                                        type: 'green',
                                        content: 'Number:' + data.id +'Already' + tipMessage +'.',
                                        buttons: {
                                            okay: {
                                                text: 'Close',
                                                action: function () {
                                                    location.reload();
                                                }
                                            }
                                        }
                                    });
                                },
                                function (response) {
                                    AjaxError(response);
                                }
                            );
                        }
                    },
                    cancel: {
                        text: 'Cancel',
                        keys: ['ctrl', 'shift'],
                    }
                }
            });
        });

        // Delete
        $(document).on('click', '.btn-confirm', function () {
            const id = $(this).attr('data-id');

            $.confirm({
                title:'Operate with caution',
                content:'Are you sure you want to <strong style="color: red">delete</strong>?',
                icon: 'mdi mdi-alert',
                animation: 'scale',
                closeAnimation: 'zoom',
                buttons: {
                    okay: {
                        text: 'Confirm',
                        keys: ['enter'],
                        btnClass: 'btn-orange',
                        action: function () {
                            AjaxForm(
                                "DELETE",
                                '/api/authorized/' + id,
                                "",
                                function () {},
                                function (data) {
                                    $.alert({
                                        title: 'Successful operation',
                                        icon: 'mdi mdi-check-decagram',
                                        type: 'green',
                                        content: 'Number:' + data.id + 'has been deleted.',
                                        buttons: {
                                            okay: {
                                                text: 'Close',
                                                action: function () {
                                                    location.reload();
                                                }
                                            }
                                        }
                                    });
                                },
                                function (response) {
                                    AjaxError(response);
                                }
                            );
                        }
                    },
                    cancel: {
                        text: 'Cancel',
                        keys: ['ctrl', 'shift'],
                    }
                }
            });
        })
    })
</script>
</body>
</html>
