<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <link href="../../bootstrap/js/jquery-confirm/jquery-confirm.min.css" rel="stylesheet">
    <link href="../../bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../bootstrap/css/style.min.css" rel="stylesheet">
</head>

<body>
<div class="container-fluid p-t-15">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <header class="card-header">
                    <div class="card-title"> Email alarm configuration</div>
                </header>
                <div class="card-body">
                    <form class="site-form">
                        <div class="form-group">
                            <label>Mailbox server: </label>
                            <input type="text" class="form-control" id="host" value="{{ .Mail.Host }}">
                        </div>
                        <div class="form-group">
                            <label>Port: </label>
                            <input type="text" class="form-control" id="port" value="{{ .Mail.Port }}">
                        </div>
                        <div class="form-group">
                            <label>Sender mailbox</label>
                            <input type="text" class="form-control" id="user" value="{{ .Mail.User }}">
                        </div>
                        <div class="form-group">
                            <label>Sender password</label> <small>(The sender's mailbox password or authorization code depends on the mailbox server)</small>
                            <input type="password" class="form-control" id="pass" value="{{ .Mail.Pass }}">
                        </div>
                        <div class="form-group">
                            <label>Recipient</label> <small>(Add multiple recipient mailboxes, in English, split)</small>
                            <input type="text" class="form-control" id="to" value="{{ .Mail.To }}"
                                   placeholder="Please enter the recipient's mailbox, multiple use, split">
                        </div>
                        <div class="form-group">
                            <small>In order to verify the accuracy of the mailbox configuration, after clicking Save, an email will be sent to the recipient to ensure that the configuration is available.</small>
                        </div>
                        <button type="button" id="btnOk" class="btn btn-primary">Save</button>
                        <button type="button" id="btnLoading" class="btn btn-primary" disabled style="display: none">
                            <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                            Executing...
                        </button>
                    </form>

                </div>

            </div>
        </div>

    </div>
</div>
<script type="text/javascript" src="../../bootstrap/js/jquery.min.js"></script>
<script type="text/javascript" src="../../bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../bootstrap/js/jquery-confirm/jquery-confirm.min.js"></script>
<script type="text/javascript" src="../../bootstrap/js/httpclient/httpclient.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $('#btnOk').on('click', function () {
            const host = $("#host").val();
            if (host === "") {
                $.alert({
                    title:'Warm reminder',
                    icon:'mdi mdi-alert',
                    type:'orange',
                    content:'Please enter the mailbox server.',
                });
                return false;
            }

            const port = $("#port").val();
            if (port === "") {
                $.alert({
                    title:'Warm reminder',
                    icon:'mdi mdi-alert',
                    type:'orange',
                    content:'Please enter the port.',
                });
                return false;
            }

            const user = $("#user").val();
            if (user === "") {
                $.alert({
                    title:'Warm reminder',
                    icon:'mdi mdi-alert',
                    type:'orange',
                    content:"Please enter the sender's email address.",
                });
                return false;
            }

            const pass = $("#pass").val();
            if (pass === "") {
                $.alert({
                    title:'Warm reminder',
                    icon:'mdi mdi-alert',
                    type:'orange',
                    content:"Please enter the sender's password.",
                });
                return false;
            }

            const to = $("#to").val();
            if (to === "") {
                $.alert({
                    title:'Warm reminder',
                    icon:'mdi mdi-alert',
                    type:'orange',
                    content:"Please enter the recipient's email address.",
                });
                return false;
            }

            const postData = {
                host: host,
                port: port,
                user: user,
                pass: pass,
                to: to,
            };


            AjaxForm(
                "PATCH",
                "/api/config/email",
                postData,
                function () {
                    $(this).hide();
                    $("#btnLoading").show();
                },
                function () {
                    $("#btnLoading").hide();
                    $("#btnOk").show();

                    $.alert({
                        title: 'Successful operation',
                        icon: 'mdi mdi-check-decagram',
                        type: 'green',
                        content: 'Configuration modification completed',
                        buttons: {
                            okay: {
                                text: 'Close',
                                action: function () {
                                    location.reload();
                                }
                            }
                        }
                    });
                },
                function (response) {
                    $("#btnLoading").hide();
                    $("#btnOk").show();

                    AjaxError(response);
                }
            );
        });
    })
</script>
</body>
</html>
