<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <link href="../../bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../bootstrap/js/jquery-confirm/jquery-confirm.min.css" rel="stylesheet">
    <link href="../../bootstrap/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="../../bootstrap/css/style.min.css" rel="stylesheet">
</head>

<body>
<div class="container-fluid p-t-15">
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <header class="card-header">
                    <div class="card-title">Service initialization</div>
                </header>
                <div class="card-body text-center">
                    <h4 class="card-title">Detection environment</h4>

                    <div class="input-group mb-3">
                        <p class="text-left">Required version: Go Version <code>go1.14+</code>, the current version：<code>{{.GoVersion}}</code>。</p>
                    </div>

                    <h4 class="card-title">Configuration · Redis</h4>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Address</span>
                        </div>
                        <input type="text" class="form-control" id="redis_addr" value="{{ .Config.Redis.Addr }}"
                               placeholder="Please enter the address, for example：127.0.0.1:6379">
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Password</span>
                        </div>
                        <input type="password" class="form-control" id="redis_pass" value="{{ .Config.Redis.Pass }}"
                               placeholder="Please enter the password">
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">DB </span>
                        </div>
                        <input type="text" class="form-control" id="redis_db" value="{{ .Config.Redis.Db }}"
                               placeholder="Please enter DB, the serial number starts from 0, the default is 0">
                    </div>

                    <h4 class="card-title">Configuration · MySQL</h4>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Address</span>
                        </div>
                        <input type="text" class="form-control" id="mysql_addr" value="{{ .Config.MySQL.Write.Addr }}"
                               placeholder="Please enter the server address, for example：127.0.0.1:3306">
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">User</span>
                        </div>
                        <input type="text" class="form-control" id="mysql_user" value="{{ .Config.MySQL.Write.User }}"
                               placeholder="Please enter user name">
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Password</span>
                        </div>
                        <input type="password" class="form-control" id="mysql_pass" value="{{ .Config.MySQL.Write.Pass }}"
                               placeholder="Please enter the password">
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">DB </span>
                        </div>
                        <input type="text" class="form-control" id="mysql_name" value="{{ .Config.MySQL.Write.Name }}"
                               placeholder="Please enter the database name">
                    </div>

                    <div class="input-group mb-3">
                        <small><i class="mdi mdi-checkbox-marked-circle"></i> Initialize MySQL data table：<code>authorized</code>
                            、<code>authorized_api</code> 、<code>admin</code>、<code>menu</code>；
                        </small>
                    </div>

                    <button type="button" id="btnOk" class="btn btn-primary">Initialization</button>
                    <button type="button" id="btnLoading" class="btn btn-primary" disabled style="display: none">
                        <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                        Executing...
                    </button>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="card">
                <header class="card-header">
                    <div class="card-title">Results of the</div>
                </header>
                <div class="card-body">
                    <pre id="resultDiv"></pre>
                </div>
            </div>
        </div>

    </div>
</div>
<script type="text/javascript" src="../../bootstrap/js/jquery.min.js"></script>
<script type="text/javascript" src="../../bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../bootstrap/js/jquery-confirm/jquery-confirm.min.js"></script>
<script type="text/javascript" src="../../bootstrap/js/httpclient/httpclient.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#btnOk").click(function () {

            const redis_addr = $("#redis_addr").val();
            if (redis_addr === "") {
                $.alert({
                    title:'Warm reminder',
                    icon:'mdi mdi-alert',
                    type:'orange',
                    content:'Please enter the Redis server address. ',
                });
                return false;
            }

            const redis_db = $("#redis_db").val();
            if (redis_db === "") {
                $.alert({
                    title:'Warm reminder',
                    icon:'mdi mdi-alert',
                    type:'orange',
                    content:'Please enter Redis DB. ',
                });
                return false;
            }

            const mysql_addr = $("#mysql_addr").val();
            if (mysql_addr === "") {
                $.alert({
                    title:'Warm reminder',
                    icon:'mdi mdi-alert',
                    type:'orange',
                    content:'Please enter the MySQL server address.',
                });
                return false;
            }

            const mysql_user = $("#mysql_user").val();
            if (mysql_user === "") {
                $.alert({
                    title: 'Warm reminder',
                    icon: 'mdi mdi-alert',
                    type: 'orange',
                    content: 'Please enter a MySQL username.',
                });
                return false;
            }

            const mysql_pass = $("#mysql_pass").val();
            if (mysql_pass === "") {
                $.alert({
                    title:'Warm reminder',
                    icon:'mdi mdi-alert',
                    type:'orange',
                    content:'Please enter the MySQL password. ',
                });
                return false;
            }

            const mysql_name = $("#mysql_name").val();
            if (mysql_name === "") {
                $.alert({
                    title:'Warm reminder',
                    icon:'mdi mdi-alert',
                    type:'orange',
                    content:'Please enter the MySQL database name. ',
                });
                return false;
            }

            const postData = {
                redis_addr: redis_addr,
                redis_pass: $("#redis_pass").val(),
                redis_db: redis_db,

                mysql_addr: mysql_addr,
                mysql_user: mysql_user,
                mysql_pass: mysql_pass,
                mysql_name: mysql_name,
            };

            AjaxForm(
                "POST",
                "/install/execute",
                postData,
                function () {
                    $("#resultDiv").text("");
                    $(this).hide();
                    $("#btnLoading").show();
                },
                function (data) {
                    $("#resultDiv").text(data);
                    $("#btnLoading").hide();
                    $("#btnOk").show();

                    $.alert({
                        title: 'Successful operation',
                        icon: 'mdi mdi-check-decagram',
                        type: 'green',
                        content:'The service is initialized successfully, <strong style="color: red">please restart the service! </strong>',
                    });
                },
                function (response) {
                    $("#btnLoading").hide();
                    $("#btnOk").show();

                    AjaxError(response);
                }
            );

        })
    });
</script>
</body>
</html>
